{% extends 'base/base.html' %}
<!-- ========================= SECTION CONTENT ========================= -->
{% block title %}
Register User
{% endblock %}

{% block content %}

<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
		<form enctype="multipart/form-data" method="post" action="{% url 'register' %}">
            {% csrf_token %}
				<div class="form-row">
					<div class="col form-group">
						<label>First name</label>
					  	{{ form.first_name }}

					</div> <!-- form-group end.// -->
					<div class="col form-group">
						<label>Last name</label>
					  	{{ form.last_name }}

					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->
        {% if form.first_name.errors %}
                        <div class="form-row"><label class="text-danger">{{ form.first_name.errors }}</label></div>
                    {% endif %}
        {% if form.last_name.errors %}
                        <div class="form-row"><label class="text-danger">{{ form.last_name.errors }}</label></div>
                    {% endif %}
				<div class="form-group">
					<label>Email</label>
					{{ form.email }}

					<small class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div> <!-- form-group end.// -->
        <div class="form-row">
             <label for="{{ form.profile_photo.id_for_label }}">Profile Image</label>
                        {{ form.profile_photo }}
        </div>
         {% if form.email.errors %}
                        <div class="form-row"><label class="text-danger">{{ form.email.errors }}</label></div>
                    {% endif %}
				<div class="form-row">
				<div class="col form-check">
 <label>Gender</label>
                        {{ form.gender }}

                </div>
                    <div class="col form-group">
                        <label>Date Of Birth</label>
                     {{ form.date_of_birth }}

                </div>

				</div> <!-- form-group end.// -->
         {% if form.gender.errors %}
                        <div class="form-row"><label class="text-danger">{{ form.gender.errors }}</label></div>
                    {% endif %}
         {% if form.date_of_birth.errors %}
                        <div class="form-row"><label class="text-danger">{{ form.date_of_birth.errors }}</label></div>
                    {% endif %}
				<div class="form-row">
					<div class="form-group col-md-6">
					  <label>Door No</label>
					{{ form.door_no }}

					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
					  <label>Street</label>
					 {{ form.street_name }}

					</div> <!-- form-group end.// -->
				</div> <!-- form-row.// -->
         {% if form.door_no.errors %}
                        <div class="form-row"><label class="text-danger">{{ form.door_no.errors }}</label></div>
                    {% endif %}
         {% if form.street_name.errors %}
                        <div class="form-row"><label class="text-danger">{{ form.street_name.errors }}</label></div>
                    {% endif %}
            <div class="form-row">
					<div class="form-group col-md-6">
					  <label>City</label>
					{{ form.city }}
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
					  <label>District</label>
					 {{ form.district }}

					</div> <!-- form-group end.// -->
				</div>
         {% if form.city.errors %}
                        <div class="form-row"><label class="text-danger">{{ form.city.errors }}</label></div>
                    {% endif %}
         {% if form.district.errors %}
                        <div class="form-row"><label class="text-danger">{{ form.district.errors }}</label></div>
                    {% endif %}
             <div class="form-row">
					<div class="form-group col-md-6">
					  <label>State</label>
					{{ form.state }}

					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
					  <label>Pincode</label>
					 {{ form.pincode }}

					</div> <!-- form-group end.// -->
				</div>
 {% if form.state.errors %}
                        <div class="form-row"><label class="text-danger">{{ form.state.errors }}</label></div>
                    {% endif %}
         {% if form.pincode.errors %}
                        <div class="form-row"><label class="text-danger">{{ form.pincode.errors }}</label></div>
                    {% endif %}
            <div class="form-row">
                <div class="form-group">
                     <label>Address</label>
                    {{ form.address }}
                     {% if form.address.errors %}
                        <label class="text-danger">{{ form.address.errors }}</label>
                    {% endif %}
                </div>
            </div>
         {% if form.address.errors %}
                        <div class="form-row"><label class="text-danger">{{ form.address.errors }}</label></div>
                    {% endif %}
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Create password</label>
					    {{ form.password1 }}
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
						<label>Repeat password</label>
					  {{ form.password2 }}

					</div> <!-- form-group end.// -->
				</div>
        <div class="form-row">
             {% if form.password2.errors %}
                        <label class="text-danger">{{ form.password2.errors }}</label>
                    {% endif %}
        </div>
			    <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
			    </div> <!-- form-group// -->
			    <div class="form-group">
		            <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> I am agree with <a href="#">terms and contitions</a>  </div> </label>
		        </div> <!-- form-group end.// -->
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="{% url 'login_page' %}">Log In</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->

</section>
{% endblock %}